<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hub.jackeroo.system.mapper.SysMenuPermissionConfigMapper">

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
        id,
        group_id, label, value, checked, sort, create_by, create_time, update_by, update_time
    </sql>

    <select id="findList" resultType="cn.hub.jackeroo.system.entity.SysMenuPermissionConfig">
        SELECT <include refid="baseColumns" />
        FROM sys_menu_permission_config a
        <where>
            <if test="groupId != null">
                a.group_id = #{groupId}
            </if>
        </where>
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </select>

</mapper>
