<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hub.jackeroo.system.mapper.SysMenuPermissionGroupMapper">

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
        id,
        group_name, is_default, disabled, create_by, create_time, update_by, update_time
    </sql>
    <select id="findList" resultType="cn.hub.jackeroo.system.entity.SysMenuPermissionGroup">
        SELECT <include refid="baseColumns" />
        FROM sys_menu_permission_group a
        <where>
            <if test="groupName != null">
                and a.group_name like CONCAT('%', #{groupName}, '%')
            </if>
        </where>
    </select>

</mapper>
